<div id="header" class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <img class="navbar-brand" id="logo" src="../assets/images/logo2.png">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          
        </button>

    </div>

</div>
<div id="wrapper">
    <div id="sidebar-wrapper" class="col-md-1">
        <div id="sidebar" style="background:#B12434">
            <ul class="nav list-group">

                <li>
                    <a class="list-group-item" id="dashboard" routerLink="/dashboard">
                        <font color="white">Dashboard</font>
                    </a>
                </li>
                <li>
                    <a class="list-group-item " routerLink="/posts">
                        <font color="white">User Management</font>
                    </a>
                </li>
                <li>
                    <a class="list-group-item ">
                        <font color="white">Utilities</font>
                    </a>
                </li>

                <li class="dropdown custom">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <font color="white"> Configuration</font>
                    </a>
                    <ul class="dropdown-menu custom">
                        <li>
                            <a routerLink="/posts">
                                <font color="white">Disease Type</font>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/posts">
                                <font color="white">Groups</font>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/posts">
                                <font color="white">Create Questionnaire</font>
                            </a>
                        </li>
                    </ul>
                </li>


            </ul>


        </div>

    </div>

    <div id="main-wrapper" class="col-md-11 pull-right container-fluid">

        <router-outlet></router-outlet>
    </div>
</div>
<!--<div id="header" class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <img class="navbar-brand" id="logo" src="../assets/images/logo2.png">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          
        </button>

    </div>

</div>-->

<!--<div id="wrapper">
    <div class="overlay"></div>-->

<!-- Sidebar -->
<!-- <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                       Bootstrap 3
                    </a>
            </li>
            <li>
                <a href="#"> Home</a>
            </li>
            <li>
                <a href="#"> Page one</a>
            </li>
            <li>
                <a href="#"> Second page</a>
            </li>
            <li>
                <a href="#"> Third page</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Dropdown heading</li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>

        </ul>
    </nav>-->
<!-- /#sidebar-wrapper -->

<!-- Page Content -->
<!--  <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
          </button>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>

</div>
-->