<!--header content goes here-->
<div class="panel" id="grpPanel">
    <div class="panel-heading Questionnaire">Create Group</div>

</div>
<!--header content ends-->
<!--Admin Details Starts here-->
<div class="container-fuild" id="slctDisNGrp">
    <div class="row" id="qtnRow">
        <div class="col">
            <font face="Segoe UI" style="float:left">Admin Details</font>
        </div>
    </div>
    <div class="row" id="qtnRow">
        <div class="col-md-4">
            <md-input-container class="example-full-width">
                <input mdInput placeholder="First name">
            </md-input-container>
        </div>
        <div class="col-md-4">

            <md-input-container class="example-full-width">
                <input mdInput placeholder="Last Name">
            </md-input-container>

        </div>
        <div class="col-md-4">


            <md-input-container class="example-full-width">
                <input mdInput type="tel" placeholder="Mobile Number" maxlength="10">
            </md-input-container>

        </div>

    </div>
</div>
<!--Admin details ends here-->
<!--member details starts here-->
<div class="container-fuild" id="qtnEntryParentContainer">
    <div class="row" id="qtnRow">

        <font face="Segoe UI" style="float:left">Group Details</font>
        <button md-button id="saveQtnnaire"> Add</button>
    </div>

    <hr>
    <div class="container-fuild" id="qtnEntryGrp">
        <div class="row" id="qtnRow">
            <div class="col-sm-4">
                <md-input-container class="example-full-width">
                    <input mdInput placeholder="Group name">
                </md-input-container>
            </div>
        </div>
        <div class="row" id="qtnRow">
            <div class="col-sm-4">
                <md-input-container class="example-full-width">
                    <input mdInput placeholder="First name">
                </md-input-container>
            </div>
            <div class="col-sm-3">

                <md-input-container class="example-full-width">
                    <input mdInput placeholder="Last Name">
                </md-input-container>

            </div>
            <div class="col-sm-5">


                <md-input-container class="example-full-width">
                    <input mdInput type="tel" placeholder="Mobile Number" maxlength="10">
                </md-input-container>
                <button id="saveQtnnaire"><i class="glyphicon glyphicon-plus" id="btnIconAdd"></i></button>
            </div>


        </div>

        <!--member details ends here-->

    </div>