<div class="container-fuild">

    <div class="row" id="qtnRow">
        <div class="col-md-6">
            <md-card class="example-card">
                <md-card-header>
                    <div md-card-avatar class="example-header-image"></div>
                    <md-card-title>Praveen Kumar</md-card-title>
                    <md-card-subtitle>Senior software Engineer</md-card-subtitle>
                </md-card-header>
                <img md-card-image src="../../assets/images/images.jpg">
                <md-card-content>
                    <p>
                        Full stack developer with 4 years of experiance in Node Angular Mongo
                    </p>
                </md-card-content>
                <md-card-actions>
                    <button md-button>LIKE</button>
                    <button md-button>SHARE</button>
                </md-card-actions>
            </md-card>

        </div>
        <div class="col-md-6">

            <md-list>
                <h3 md-subheader>Participants</h3>
                <md-list-item *ngFor="let user of users">
                    <span class="glyphicon glyphicon-user"></span>

                    <p md-line> {{user.name}} </p>
                </md-list-item>

            </md-list>
        </div>


    </div>
</div>